html{ height : 100%; }
body{
    background:linear-gradient(180deg,#fff,rgb(121, 205, 198),rgb(105, 2, 125));
    height : 100%;
    margin:0px;
}
header{
    background:linear-gradient(65deg,#fff,rgb(105, 2, 125));
    margin: 0px;
    border-right: solid white 12px;
    padding-top: 1px;
    padding-left: 1px;
    width: 100%;
}

header table{
    margin: 0px;
    padding:0px;
    width: 100%;
    border:solid 2px;
}
header table tr,header table td{
    margin: 0px;
    padding:0px;
}
.zonerch{
    margin-left: 25px;
    margin-top: 10px;
}
.cnx{
    text-decoration: none; /*enleve les liens*/
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    position: relative;
    left: 500px;
    outline:none;
    margin-left: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
    
}
.cnx:hover{
    background-color: rgb(121, 205, 198);
    color:blue;
}

.insc{
    position: relative;
    left: 500px;
    text-decoration: none; /*enleve les liens*/
    color: #ffffff ;
    padding: 15px;
    padding-bottom: 0px;
    font-size: 20px;
}
#barrech{
    width:90%;
}
.logo{
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 5px;
    width:120px;
    padding: 5px;
    background-color:red;
    margin-bottom: 0px;
    border-top-right-radius: 12px;
    border-top: 2px #fff solid;
    border-right: 2px #fff solid;
}
.logo:hover{
    background-color: rgb(121, 205, 198);
    color:blue;
}
h1 {
    color : rgb(255, 255, 255);
}
h2 {
    color : white;
}
fieldset {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 500px;
    height: 300px;
    background-color: rgba(27, 0, 100, 0.993);
    border-radius: 16px;
    /* opacity: 0.5; */
}
legend{
    text-align: center;
}
.cnx-control{
    outline:none;
    background-color: #c0c0c0;
    height: 30px;
    width: 60%;
    border:none;
    margin-bottom: 50px;
}
.cnx-control:focus{
    background-color:#fff;
}
.cnx-control:hover{
    border-bottom:rgb(255, 0, 0) solid 2px;
}
.cnx-sub{
    width:82%;
    border:none;
    padding:10px;
    outline:none;
    margin-left:7%;
    cursor: pointer;
    letter-spacing: 5px;
    border-radius: 16px;

}
.cnx-sub:hover{
    background-color:rgb(121, 205, 198);
    color:blue;
}
label{
    display:inline-block;
    min-width:100px;
    color:#fff;
    margin-left: 35px;
}
.btn-inscription{
    position:absolute;
    left:60%;
    color:#EEEEEE;
    text-align: center;
    background-color: #2d3333;
    text-decoration: none;
    font-size:20px;
    padding:2px;
    border-radius:3px;
    margin-top:3px;
}
.btn-inscription:hover{
    background:#EEEEEE;
    color: #2d3333;
}
ul {
    list-style-type: none;
    background-color: grey;
}

li {
    display: inline-block;
    margin:0px;
    padding:auto;
}

.button {
    position: relative;
    left: 450px;
    text-decoration: none; /*enleve les liens*/
    color: #ffffff ;
    padding: 15px;
    padding-bottom: 0px;
    font-size: 20px;
}

ul a:hover {
    color: #0e0eff;
    border-bottom:solid 3px #0e0eff;
}


.section {
    background-color : white;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

}

p {
    width: 500px;
    color: #EEEEEE;
}

.button1 {
    text-decoration: none;
    color: #EEEEEE;
}


.topic {
    background-color: aliceblue;
    margin-bottom: 10px;

}

.information {

    margin-left: auto;
    margin-right: auto;

}

.ttopic {

    margin-left: auto;
    margin-right: auto;
}
.tri-select{
    color: #1a1010;
    border: none;
    outline: none;
}
.tri-sub{
    border:none;
    outline:none;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    letter-spacing: 5px;
}
.tri-sub:hover{
    background-color: lightblue;
    color:blue;
}

.table-resultat{
 border:2px solid;
}
.table-resultat thead{
    color : #fff;
}
.table-resultat td{
    border-left: solid 2px;
}

main{
    border:solid 3px;
}

footer{
position: fixed;
top:95%;
text-align: center;
padding-top: 3px;
border-top: 3px solid orangered;
width: 100%;
color: orangered;

}




