html{ height : 100%; }
body{
    background-color: #FFD700;
    height : auto;
    /*! margin:0px; */
    width: auto;
}
header{
    background:#FFD700;
    

}
header table{
    width: max-content;
    
    display: flex;
    margin: 5px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width:100%;
    padding: 5px;
    background-color:#FFD700;
    border-radius: 15px;
    position: relative;
    text-align: center;
}
.logo:hover{
     background-color: black;
      border: solid 3px #FFD700;
      color: #FFD700;
      text-align: center;      
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
}



ul {
    list-style-type: none;
    /* background-color: grey; */
}

li {
    padding:0px;    /*   agrabdir limage entiere  */

}

.button {
    background-color: #FFD700;
      border: solid 3px black;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px;
    width: 80px;
        
}
.button:hover{
    background-color: black;
      border: solid 3px #FFD700;
      color: #FFD700;
      text-align: center;      
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
}

.but {
    text-decoration: none; /*enleve les liens*/
    color: #ffffff ;
    padding-bottom: 0px;
    font-size: 10px;
}

#menu-accordeon {
    list-style:none;
  }
  #menu-accordeon ul {
    list-style:none;
    text-align: center;
    display: block;
    background-color: #FFD700;
  }

  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:15px;
     background: #FFD700;
     box-shadow: none;
     border:none;

  }
  #menu-accordeon a {
    display:table;
    background-color: #FFD700;
      border: solid 3px black;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
  }


  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
    background-color: #FFD700
  }
 
  #menu-accordeon li li:hover {
       background-color: black;
      border: solid 3px #FFD700;
      color: #FFD700;
      text-align: center;      
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
  }
  #menu-accordeon ul li:hover {
     background-color: black;
      border: solid 3px #FFD700;
      color: #FFD700;
      text-align: center;      
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
    background-color: #FFD700
  }



  
  .button1 {
    background-color: #FFD700;
      border: solid 3px black;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
}


.button2 {
    background-color: #FFD700;
      border: solid 3px black;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
}

.button3 {
    background-color: #FFD700;
      border: solid 3px black;
      color: black;
      padding: 16px 32px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px;
    width: 80px;
}
.button3:hover{
      background-color: black;
      border: solid 3px #FFD700;
      color: #FFD700;
      text-align: center;      
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    border-radius: 15px
}


footer{
    position: fixed;
    top:95%;
    text-align: center;
    padding-top: 3px;
    border-top: 3px solid rgb(0, 0, 0);
    width: 100%;
    color: rgb(0, 0, 0);
    
    }

@media (max-width: 1024px) {
    body{
        display: flex;
    } 
 }

.BigListe{
    display: flex;
    align-items: center;
    width: -moz-available;
}

.CreRank{
    display: flex;
    width: 50%;
}
.ModCnxSup{
    display: flex;
}
.MenuInscrp{
    display: flex;
}
.AllOfIt{
    border:solid 3px #000000;
    width: -moz-available;
    border-radius: 15px;
}
.account{
    display: flex;
    margin-right: 5px;
    margin-left: 250px;
    width: 50%;
}