html,
body {
    font-family: "Lucida Console", "Courier New", Monospace;
    height: 100%;
    scroll-behavior: smooth;
    position: relative;
    background-color: #181818;
}

header {
    font-family: "Lucida Console", "Courier New", Monospace;
    background: #181818;
    position: relative;
    height: 15%;
}

header table {
    font-family: "Lucida Console", "Courier New", Monospace;
    display: flex;
    position: relative;
}

.menu {
    font-family: "Lucida Console", "Courier New", Monospace;
    display: flex;
    position: absolute;
    align-items: center;
    top: 4px;
    height: 50px;
}

.logo {
    font-family: "Lucida Console", "Courier New", Monospace;
    order: solid 3px white;
    color: white;
    transition: 0.3s;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-align: center;
    height: 60px;
    width: 200px;
    margin-right: -100px;
    top: -37px;
    right: 15px;
}

html body header table tbody tr td h1.logo a.button1 img {
    height: 100%;
    width: 100%;
    position: absolute;
    border: solid 2px white;
    border-radius: 16px;
    left: 5%;
    top: -18.25px;
}

.logo:hover {
    font-family: "Lucida Console", "Courier New", Monospace;
    display: flex;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.button1 {
    font-family: "Lucida Console", "Courier New", Monospace;
    text-align: center;
    color: #ff0052;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
    margin: 10px;
}

ul {
    font-family: "Lucida Console", "Courier New", Monospace;
    list-style-type: none;
}

li {
    font-family: "Lucida Console", "Courier New", Monospace;
    padding: 0px;
    list-style-type: none;
}

.button {
    font-family: "Lucida Console", "Courier New", Monospace;
    text-align: center;
    color: #ff0052;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
    margin: 10px;
}

.button:hover {
    font-family: "Lucida Console", "Courier New", Monospace;
    background-color: #ff0052;
    color: white;
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
}

#menu-inscrp {
    font-family: "Lucida Console", "Courier New", Monospace;
    list-style: none;
}

#menu-inscrp ul {
    font-family: "Lucida Console", "Courier New", Monospace;
    list-style: none;
    text-align: left;
    display: block;
    position: absolute;
    width: 150px;
    margin-left: -59px;
    height: 150px;
}

#menu-inscrp li li {
    font-family: "Lucida Console", "Courier New", Monospace;
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    border-radius: 16px;
    margin: 1%;
    background-color: #181818;
}

#menu-inscrp a {
    font-family: "Lucida Console", "Courier New", Monospace;
    text-align: center;
    color: #ff0052;
    display: table;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

#menu-inscrp ul li a,
#menu-inscrp li:hover li a {
    font-family: "Lucida Console", "Courier New", Monospace;
    background-color: #181818;
    margin: 1%;
    width: 84%;
    color: #ff0052;
    border-radius: 16px;
}

#menu-inscrp ul li:hover {
    font-family: "Lucida Console", "Courier New", Monospace;
    background-color: #ff0052;
    color: white;
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px;
}

#menu-inscrp li:hover li {
    font-family: "Lucida Console", "Courier New", Monospace;
    max-height: 100%;
    width: 100%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

ul li .nav {
    font-family: "Lucida Console", "Courier New", Monospace;
    margin-left: 30px;
    font-size: 0px;
}

footer {
    font-family: "Lucida Console", "Courier New", Monospace;
    position: absolute;
    top: 150%;
    text-align: center;
    padding-top: 3px;
    border-top: 3px solid white;
    color: rgb(0, 0, 0);
    margin: 1%;
    height: 5%;
}.tab {
    font-family: "Lucida Console", "Courier New", Monospace;
    list-style: none;
    position: relative;
    border-radius: 16px;
}

.batima {
    font-family: "Lucida Console", "Courier New", Monospace;
    background-color: #181818;
    color: white;
    font-weight: bold;
    width: 50%;
    border-radius: 16px;
    border: solid 3px white;
    margin-left: 25%;
    margin-right: 25%;
}

.batdiv {
    font-family: "Lucida Console", "Courier New", Monospace;
    position: relative;
}

.batsghir {
    font-family: "Lucida Console", "Courier New", Monospace;
    position: relative;
    display: flex;
}

.salasghira {
    font-family: "Lucida Console", "Courier New", Monospace;
    color: white;
    font-weight: bold;
    width: 50%;
    position: relative;
    margin: 0;
    text-align: left;
}

.btnajoutsalle {
    font-family: "Lucida Console", "Courier New", Monospace;
    color: white;
    font-weight: bold;
    width: 100%;
    position: relative;
    margin: 0;
    text-align: left;
}

.cnx-sub {
    font-family: "Lucida Console", "Courier New", Monospace;
    border: solid 3px white;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background-color: w181818}

.cnx-sub2 {
    font-family: "Lucida Console", "Courier New", Monospace;
    border: solid 3px white;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background-color: #181818;
    margin-left: 15%;
    margin-right: 15%;
}

.cnx-sub:hover {
    font-family: "Lucida Console", "Courier New", Monospace;
    border: solid 3px white;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background-color: #181818;
}

.cnx-sub2:hover {
    font-family: "Lucida Console", "Courier New", Monospace;
    border: solid 3px white;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 1% 25%;
    text-align: center;
    border-radius: 16px;
    background-color: #181818;
}

.inputtype {
    font-family: "Lucida Console", "Courier New", Monospace;
    color: white;
    border: solid 2px white;
    border-radius: 16px;
    text-align: center;
}

.titleliste {
    font-family: "Lucida Console", "Courier New", Monospace;
    font-weight: bold;
    width: 25%;
    position: relative;
    margin: 3%;
    text-align: center;
    border-radius: 16px;
    background-color: #181818;
    border:solid 2px white;
}

.btnajoutsalle2 {
    font-family: "Lucida Console", "Courier New", Monospace;
    color: white;
    font-weight: bold;
}

.batima2 {
    font-family: "Lucida Console", "Courier New", Monospace;
    background-color: #181818;
    color: #ff0052;
    font-weight: bold;
    border-radius: 16px;
    padding-bottom: 3%;
}

html body fieldset.batima2 form table.tab tbody tr td.tab {
    position: relative;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    text-align: center;
}

.salasghira2 {
    font-family: "Lucida Console", "Courier New", Monospace;
    color: white;
    font-weight: bold;
    width: 100%;
    position: relative;
    text-align: center;
}

h2 {
    color: white;
}

label {
    color: white;
}

strong {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: 10;
    position: relative;
    color: white;
}

.card {
    position: relative;
    height: 150px;
    width: 100%;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    border-radius: 16px;
    text-align: center;
}

.card::before {
    content: "";
    color: white;
    height: 275px;
    width: 275px;
    background: linear-gradient(90deg, white, #ff0052);
    position: absolute;
    z-index: 2;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.card::after {
    content: "";
    color: white;
    height: 140px;
    width: 200px;
    background: black;
    position: absolute;
    z-index: 2;
    border-radius: 16px;
}

.prof {
    font-family: "Lucida Console", "Courier New", Monospace;
    width: 35px;
    height: 35px;
    box-shadow: 1px 1px 20px #ff0052;
    border-radius: 180px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    text-decoration: none;
    text-transform: uppercase;
    left: 225%;
}

.prof::before {
    background-image: conic-gradient(#ff0052 20deg,
            transparent 120deg);
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

.prof::after {
    width: 40px;
    height: 40px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
}

.card2 {
    position: relative;
    height: 150px;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    border-radius: 16px;
    text-align: center;
}

.card2::before {
    content: "";
    color: white;
    height: 200px;
    width: 350px;
    background: linear-gradient(90deg, white, #ff0052);
    position: absolute;
    z-index: 2;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.card2::after {
    content: "";
    color: white;
    height: 140px;
    width: 310px;
    background: black;
    position: absolute;
    z-index: 2;
    border-radius: 16px;
}

.card3 {
    position: relative;
    height: 150px;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    border-radius: 16px;
    text-align: center;
}

.card3::before {
    content: "";
    color: white;
    height: 200px;
    width: 350px;
    background: linear-gradient(90deg, white, #ff0052);
    position: absolute;
    z-index: 2;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.card3::after {
    content: "";
    color: white;
    height: 140px;
    width: 310px;
    background: black;
    position: absolute;
    z-index: 2;
    border-radius: 16px;
}

@media only screen and (max-width: 768px) {
    header, html, body {
        width: 100%;
    }
}

action {
    width: 100px;
    height: 50px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

action::before {
    content: "";
    background-image: conic-gradient(#ff0052 20deg,
            transparent 120deg);
    width: 250%;
    height: 250%;
    position: absolute;
    /* -webkit-animation: rotate 2s linear infinite; */
    animation: rotate 1s linear infinite;
}

action::after {
    content: 'LeBonChoix';
    width: 90px;
    height: 42px;
    background: #101010;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    box-shadow: inset 20px 20px 20px #0000008c;
    text-transform: uppercase;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}